@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");

* {
  font-family: "Toss Product Sans";
}

body {
  margin: 0;
  font-family: Toss Product Sans, Tossface, -apple-system, BlinkMacSystemFont,
    Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: gray;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

header .header-logo {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

header a:focus,
header a:hover {
  color: black;
}

.dark-mode header a:focus,
.dark-mode header a:hover {
  color: white;
}

textarea {
  border: 1px solid lightgray;
  resize: none;
}

.select-box {
  position: relative;
  width: 200px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  appearance: none; /* 기본 화살표 제거 */
  background: white
    url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9ImxpbmUtaWNvbiI+PHBhdGggZD0iTTggMTEuMTVhLjg5Ny44OTcgMCAwMS0uNjM2LS4yNjRsLTQuNS00LjVhLjkuOSAwIDExMS4yNzItMS4yNzNMOCA4Ljk3N2wzLjg2NC0zLjg2NGEuOS45IDAgMTExLjI3MiAxLjI3M2wtNC41IDQuNUEuODk3Ljg5NyAwIDAxOCAxMS4xNSIgZmlsbD0iI0IwQjhDMSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+")
    no-repeat right 10px center;
  background-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  pointer-events: none; /* 클릭 방지 */
}

/* footer */

footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

footer a:focus,
footer a:hover {
  color: black;
}

.dark-mode footer a:focus,
.dark-mode footer a:hover {
  color: white;
}

/* post navigation */
.post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}

.post__navigation--active {
  color: black;
  font-weight: 600;
}

/* post list */

.post__list,
.post__detail {
  padding: 20px 40px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
  min-height: 90vh;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.dark-mode .post__box {
  border-top: 1px solid #2a2a2a;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background: #f2f2f2;
  border-radius: 50%;
}

.post__date,
.post__author-name {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  color: gray;
  font-size: 16px;
}

.post__text--pre-wrap {
  white-space: pre-wrap;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

.post__delete {
  cursor: pointer;
}

.post__edit:hover,
.post__edit:focus,
.post__delete:hover,
.post__delete:focus {
  color: black;
}

.dark-mode .post__delete:hover,
.dark-mode .post__delete:focus {
  color: white;
}

.post__no-post {
  padding: 24px;
  text-align: center;
  color: gray;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
}

/* post detail */
.post__detail .post__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.dark-mode .post__detail .post__utils-box {
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
}

.post__detail .post__profile-box {
  padding: 10px 0px;
}

.post__detail .post__text {
  padding: 20px 0px;
  font-size: 16px;
  letter-spacing: 0em;
  color: #333d4b;
}

.post__detail .post__box {
  border-top: none;
}

.dark-mode .post__detail .post__text {
  color: #ececec;
}

.post__category {
  color: gray;
  border: 1px solid lightgray;
  background: #f2f2f2;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.dark-mode .post__category {
  background: #252525;
  border: none;
}

/* profile */

.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.profile__email {
  font-weight: 500;
}

.profile__logout {
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.profile__logout:hover,
.profile__logout:focus {
  color: black;
}

/* carousel */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 600;
  margin: auto;
  overflow: hidden;
}

.carousel__button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel__button--left {
  left: 0;
}

.carousel__button--right {
  right: 0;
}

.carousel__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

/* form */

.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  margin-top: 20px;
  min-height: 90vh;
}

.form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.form select {
  border: 1px solid lightgray;
  max-width: 680px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 0.3rem;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea {
  background: #1e1e1e;
  border: 1px solid #4d4d4d;
  color: #ececec;
}

.dark-mode input:focus,
.dark-mode select:focus,
.dark-mode textarea:focus {
  outline: none;
  border: 1px solid #e0e0e0;
}

.form textarea {
  min-height: 400px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  width: 96%;
  max-width: 680px;
}

.form .form__block {
  margin-top: 20px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form .form__btn--submit {
  width: 100%;
  height: 48px;
  padding: 10px;
  float: right;
  cursor: pointer;
  margin: 0 auto;
  font-size: 16px;
  background-color: #2563eb;
  color: white;
  border: none;
}

.form .form__btn--submit:hover,
.form .form__btn--submit:focus {
  background-color: #1945a4;
}

.dark-mode .form .form__btn--submit {
  background-color: #424242;
}

.dark-mode .form .form__btn--submit:hover {
  background-color: #444444;
}

/* login form */

.form--lg {
  min-height: 70vh;
  margin-top: 10vh;
}

.form__title {
  text-align: center;
  margin-bottom: 4px;
}

.form__link {
  margin-left: 10px;
}

.form__error {
  color: red;
}

.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #2563eb;
  border-radius: 50%;
  z-index: 9999;
}

/* comment */

.comment {
  width: 100%;
}

.comments__form label {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

.comments__form textarea {
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  max-width: 680px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.comments__form .form__block {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.comments__form .form__btn-submit {
  width: 100px;
  height: 36px;
  cursor: pointer;
  font-weight: 500;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}

.form__block-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.comments__form .form__btn-submit:hover,
.comments__form .form__btn-submit:focus {
  background-color: #1945a4;
}

.comments__list {
  margin-top: 40px;
  margin-bottom: 100px;
}

.comment__box {
  padding: 12px 0px;
  border-bottom: 1px solid #f2f2f2;
}

.comment__profile-box {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

.comment__email {
  font-weight: 500;
}

.comment__date {
  color: gray;
}

.comment__delete {
  color: gray;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}

.comment__delete:hover,
.comment__delete:focus {
  color: black;
}

.comment__text {
  font-size: 14px;
  padding-top: 4px;
}

/* dark mode */

.footer__theme-btn {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.light-mode {
  transition: all 0.25s linear;
  background-color: white;
}

.dark-mode {
  transition: all 0.25s linear;
  background-color: #212121;
  color: #ececec;
}

.dark-mode footer {
  background-color: #000000;
}

.dark-mode a {
  color: #ececec;
}

.dark-mode header {
  border-color: gray;
}

.dark-mode .header-logo {
  color: white;
}

.dark-mode .post__navigation--active {
  color: white;
}

.dark-mode .post__edit a {
  color: gray;
}

.dark-mode .comment__box {
  border-bottom: 1px solid #2a2a2a;
}
